.THIS * {
    font-family: 'Source Sans Pro', sans-serif;
}

/**
 * CSS style for sticky navigation component
 */
.THIS .slds-custom-float-navdiv {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	background-color: #e3dfd4;
    height:750px;
}

.THIS .slds-custom-overflow-hidden{
    overflow: hidden;
}

/**
 * CSS style for header
 */
.THIS h1 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size:30px; 
    color:#333333;
    margin: 0.50em 0;
    margin-top: 6px;
    display: block;
    font-weight: 300;
}
.THIS h2{
    font-family: 'Source Sans Pro',sans-serif;
    font-size:24px; 
    color:#333333;
    margin: 0.50em 0;
    margin-top: 6px;
    display: block;
    font-weight: 200;
} 

/**
 * CSS style for header with line navigation component  display: flex;
 */
.THIS h1.slds-custom-heading-line {
    font-size:24px;
    overflow:hidden;
}

.THIS h1.slds-custom-heading-line:after {
   content:"";
    display: inline-block;
    height: 0.3em;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    /*border-top: 1px solid #333333;*/
}
.THIS h1.slds-custom-heading-large{
    font-size:24px!important;
}

/*
* Label and Text Custom CSS
*/
.THIS b, .THIS strong {
    font-weight: 500 !important;
}
.THIS .slds-custom-text-instructiontext {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    color:#6b6c72;
    font-weight: 300;
}
.THIS .slds-custom-helptext_medium{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    color:#4d4f53;  
}
.THIS .slds-custom-table-header_medium{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    color:#4d4f53;  
    font-weight:700;
}

.THIS .slds-custom-text_small{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px!important;
    color:#4d4f53;  
}
.THIS .slds-custom-text_smallBlack{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px!important;
    color:#000000;  
}
.THIS .slds-custom-text_small-error{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    color:#4d4f53; 
    font-weight: 200!important; 
}
/*slds text error color */
.THIS .slds-text-color_error{
    color:#ed1c24!important;
}

.THIS .slds-custom-heading_small{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    color:#686c72; 
    font-weight:700; 
}
.THIS .slds-custom-text_large{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    color:#4d4f53; 
}

.THIS .slds-custom-header-stanred-large{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 24px;
    color:#8c1515; 
}
.THIS .slds-custom-header-stanred-medium{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    color:#8c1515; 
}
.THIS .slds-custom-footerlink-footer a{
    color:#8c1515;
}
.THIS .slds-custom-contact_footer,.THIS .slds-custom-contact_footer a,.THIS .slds-input, .THIS .slds-textarea, .THIS .slds-popover_tooltip .slds-popover__body{
    color:#4d4f53;
}
.THIS .slds-custom-small-textarea .slds-textarea{
    color:#4d4f53;
    min-height:120px;
}
.THIS .slds-custom-large-textarea .slds-textarea{
    color:#4d4f53;
    min-height:400px;
}
.THIS textarea::placeholder {
    color: #9B9B9B;
    opacity: 0.5;  
}
.THIS .slds-custom-contact_footer .slds-icon_container{
    padding-right:3px;
}
.THIS .slds-form-element__label {
    font-size:15px;
    margin-bottom:2px;
    color:#6b6c72;
}
.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size:14px !important;
    color:#4d4f53;
}
.THIS .slds-form-element__legend{
    font-weight:500!important;
}
.THIS .slds-custom-fieldsetlabel{
    font-size:15px;
    font-family: 'Source Sans Pro',sans-serif;
    color:#4d4f53;
    padding-left: 5px; 
    border: 1px solid #999999;
}
.THIS .slds-custom-fieldsetlabel-gray{
    font-size:15px;
    font-family: 'Source Sans Pro',sans-serif;
    color:#4d4f53;
    background: #EEEEEE;
}
/**
* datatable header and body text CSS
*/
.THIS .slds-custom-dt thead th span {
    font-weight:600;
    font-size:16px;
    color:#333333; 
}

.THIS .slds-custom-dt tbody lightning-formatted-text {
    font-size:17px;
    color:#4d4f53; 
    font-weight:400;
}

/**
*Background colors
*/
.THIS .slds-custom-bggrey{
    background-color: #f5f5f5
}
.THIS .slds-custom-bgwhite{
    background-color: #ffffff;
}
.THIS .slds-custom-bgdimmed{
    background-color: #f8f8f8;
}
.THIS .slds-custom-bgdisabled{
    background-color:#d9d9d9;
}
.THIS .slds-custom-bglightgrey{
    background-color: #eeeeee!important;
}

/**
 * CSS style for disabled input  
 */
.THIS .slds-input[disabled]{
    background-color: #e9ecef;
}
/**
 * CSS style for disabled button brand  
 */
.THIS .slds-button_brand[disabled],.THIS .slds-button_brand[disabled]:hover{
    background-color: #c9c7c5;
}
/**
 * CSS style for input width 
 */
.THIS .slds-custom-input-width {
    width:300px ;
}
/*
* CSS style for button 
*/
.THIS .slds-button_brand{
    border-radius: 3px;
    background: #479ccf;
    border: none;
    padding: 5px 15px;
    line-height: unset;
}

.THIS .slds-custom-button_brand .slds-button_brand{
    width: 80px;
}

.THIS .slds-button_neutral{
    border-radius: 3px;
    padding: 5px 15px;
    line-height: unset;
}
.THIS .slds-button_brand:hover{
    background:#009DFF;
}
.THIS .slds-button_brand:disabled, .THIS .slds-button_neutral:disabled{
    background: #979797;
}
/**
 * custom height  and width of dropdown body is defined
 */
.THIS .slds-custom-dropdown-body-hw {
    max-height: 107px!important;
    width: 300px;
    border-left: 1px solid #d9dbdd;
    border-right: 1px solid #d9dbdd;
    box-shadow: inset 0px -1px 0px #d9dbdd;
    padding-left:9px;
    z-index: 2;
    background: #ffffff;
    position:absolute;
    cursor: pointer;
}
/*
* dropdown in popup overflow
*/
.THIS .slds-modal__content{
    overflow: initial;
}
/*
*popup max-height to enable scroll
*/
.THIS .slds-custom-popup-height{
    max-height:500px;
}
.THIS .slds-fundtransfer-popup-height{
    max-height:315px;
}
/**
 * CSS style for input label width - dynamic
 */
.THIS .slds-custom-input-width .slds-form-element__label{
    min-width:250px;
    white-space: nowrap;
    display: inline-block;
}
/**
 * Page height is defined
 */
.THIS .slds-custom-height-page {
    min-height:300px;
}
.THIS .slds-icon{
    width: 16px;
    height: 16px;
}
.THIS .slds-custom-check-icon .slds-icon_small{
    width: 14px;
    height: 14px;
    fill: #ffffff;
    color: #ffffff;
}

.THIS .slds-icon_small, .THIS .slds-icon--small {
    width: 16px;
    height: 16px;
    fill: #54698d;
}
.THIS .slds-icon-utility-warning .slds-icon_x-small{
    fill: #c23934!important;
}
.THIS .slds-display-none{
    display: none;
}
/*
* Radio button styling
*/
.THIS .slds-radio_button [type=radio]+.slds-radio_button__label{
    background-color:#ffffff;
    color:#4d4f53;
    box-shadow: 2px 4px 5px 0px #7B7789;
    padding: 5px 5px 5px 10px;
    display: inline-block;
}
.THIS .slds-radio_button .slds-radio_faux{
    padding-left:0px!important;
}
.THIS .slds-radio_button [type=radio]+.slds-radio_button__label{
    background-color:#ffffff;
    color:#4d4f53;
    box-shadow: 2px 4px 5px 0px #7B7789;
}
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label{
    background-color:#479ccf;
    color:#ffffff;
    box-shadow: none;
}
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label:hover{
    background-color:#009DFF;
    color:#ffffff;
    box-shadow: none;
}

.THIS .slds-custom-no-boxshadow-radio .slds-radio_button-group label.slds-radio_button__label{
     box-shadow: none !important;
}
/*checkbox*/
.THIS .slds-custom-checkbox-width{
    width: 20px;
}

/*removed default padding of slds for first th .slds-table_header-fixed tbody tr:first-child th */
.THIS .slds-custom-dt .slds-table_header-fixed thead tr > th:first-child{
    padding-left:7px!important;
}
.THIS .slds-custom-dt .slds-table_header-fixed tbody tr > th:first-child{
    padding-left:15px!important;
}
.THIS .slds-custom-dt {
    /*height: 300px;*/
    width:100%;
}

.THIS .slds-custom-lightningpill .slds-has-error .slds-pill__action .slds-pill__label, .THIS .slds-custom-oneline-lightningpill .slds-has-error .slds-pill__action .slds-pill__label{
    max-width: 100%;
    display:block;
    white-space: initial;
}
.THIS .slds-custom-lightningpill .slds-has-error .slds-pill__icon_container,.THIS .slds-has-error .slds-pill__remove{
    top:30%;
}
.THIS .slds-pill__remove {
    display: none !important;
}
/*helptext tooltip*/
.THIS .slds-popover_tooltip{
    background: #ffffff;
    position:absolute;
    top:37px;
    left:35px;
}
.THIS .slds-horizontal-top-popover-tooltip .slds-popover_tooltip{
    top: -150px;
    left: -6px;
}
.THIS .slds-horizontal-popover-tooltip .slds-popover_tooltip{
    top: 23px;
    left: -6px;
}

.THIS .slds-custom-appeal-tooltip .slds-popover_tooltip {
    top:8px;
    left:20px
}
.THIS .slds-custom-loanselection-tooltip .slds-popover_tooltip {
    top:15px;
    left:20px
}

.THIS .slds-custom-popover-tooltip{
    position:relative;
}
/*Responsive Under 1024px*/
@media only screen and (max-width: 1024px) {
    .THIS .main-content {
        width: 68%;
    }
}
@media only screen and (max-width: 1000px) {
    .THIS .main-content {
        width: 98%;
    }
    .THIS .slds-custom-float-navdiv{
        position: relative!important;
        width: 100%!important;
    }
}

.THIS .pointer {
    cursor: pointer;
}
.THIS .slds-custom-cursor-arrow , .THIS .slds-custom-cursor-arrow input{
    cursor: default;
}
.THIS .slds-custom-viewapp button{
    width: auto !important;
    margin-top: -25px;
}
.THIS .slds-appeal-explanation textarea{
    height: 118px;
}
.THIS .slds-has-error .slds-form-element__help{
    color: #ed1c24!important;
    font-size: 14px!important;
}

.lb-hader{
    display: block;
    color: #999;
}
.line{
   
    text-align:left;
    margin-left:0
}
.card-body{
    width: 60%
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem
}
.form-controller
{
    width: 65%; 
}
.pull-right {
    float: right!important;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.custom-select{
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center/8px 10px;
}
.form-group {
    margin-bottom: 1rem;
}
.error{
	color:red;
}
p{
	width: 85%; 
}


